
{# favicons #}
<link rel="icon" type="image/png" href="/img/png/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/img/png/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/img/png/favicon-96x96.png" sizes="96x96">

{# touchscreen icons #}
<link rel="apple-touch-icon" href="/img/png/icon-touch-screens.png">

{# styles #}
<link rel="stylesheet" href="/css/main.css">
