input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0.5rem 1rem;
  color: $black;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid $gray;
  border-radius: 5px;
  background-color: $white;
  box-shadow: none;
}

select {
  vertical-align: middle;
  background-color: $white;
}

label {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 0.25rem;
  color: $gray;
  font-size: 1rem;
}

form .button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  min-width: 9rem;
  font-size: 20px;
  box-shadow: none;
  cursor: pointer;
}

form .button.green { background-color: #3B8B4D; }

form .button[disabled] {
  background-color: #E8E8E8;
  cursor: not-allowed;
}

.submission-container {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

#sending-message,
#error-message,
#success-message {
  padding: 0 1.5em;
  font-weight: normal;
}

#sending-message { color: #707070; }
#error-message { color: #ED1F45; }
#success-message { color: #3B8B4D; }
