.page-standard .masthead {
  // Apply normal section spacing on small screens
  @media (max-width: $md-breakpoint - 1) {
    margin-bottom: 2rem;
  }

  // vertical spacing
  @media (min-width: $md-breakpoint) {
    padding-bottom: 2.5rem;
  }

  @media (min-width: $lg-breakpoint) {
    padding-top: 8rem;
  }

  // Vertically center text column on >= medium screens
  @media (min-width: $md-breakpoint) {
    .row {
      display: flex;
      align-items: center;
      flex-direction: row;
    }
  }

  // Apply proportional height on small screens
  .graphics { height: 116vw; }

  .graphics::after {
    right: 0;
    top: 1rem;
    width: 163vw;
    height: 105%;
    background: url(/img/svg/standard-masthead.svg) no-repeat transparent;
    background-size: auto 80%;
  }

  @media (min-width: $md-breakpoint) {
    .graphics { height: 62vw; }

    .graphics::after {
      width: 95vw;
      background-size: auto 94%;
      top: 1rem;
    }
  }

  @media (min-width: $lg-breakpoint) {
    .graphics::after {
      top: -2rem;
      width: 90vw;
      background-size: auto 90%;
      background-position-y: 4rem;
    }
  }

  @media (min-width: $xl-breakpoint) {
    .graphics {
      height: 57vw;
    }

    .graphics::after {
      height: 100%;
      width: 83vw;
    }
  }

  @media (min-width: $xxl-breakpoint) {
    .graphics { max-height: 57em; }

    .graphics::after {
      left: -48rem;
      background-position-y: 4rem;
    }
  }
}

.standards {
  position: relative;

  @media (min-width: $md-breakpoint) {
    margin-bottom: 0;
  }

  h2 span {
    color: $green;
  }

  .tabs {
    padding-top: 1em;
  }

  .tabs-header {
    text-align: center;

    nav li {
      display: inline-block;

      a {
        display: block;
        padding-left: 1.2em;
        padding-right: 1.2em;
        border-bottom: 0.2em solid $gray-light;

        @media (min-width: $md-breakpoint) {
          padding-left: 2.2em;
          padding-right: 2.2em;
        }

        svg {
          width: 3em;
          height: 3em;

          @media (min-width: $md-breakpoint) {
            width: 4em;
            height: 4em;
          }

          path {
            stroke: $gray-light;
          }

          .pl0,
          .di1,
          .si1 {
            fill: $gray-light;
            stroke: none;
          }

          @media (min-width: $lg-breakpoint) {
            width: 5em;
            height: 5em;
          }
        }

        &:hover {
          border-bottom-color: $green;
        }
      }

      &:hover,
      .selected {
        border-bottom-color: $green;

        svg {
          path {
            stroke: $black;
          }

          .pl0,
          .di1,
          .si1 {
            fill: $green-lighter;
            stroke: none;
          }
        }
      }
    }
  }

  .tabs-content {
    min-height: 25em;
    padding-top: 1em;

    h2 {
      padding-top: 1em;

      @media (min-width: $md-breakpoint) {
        padding-top: 0;
      }
    }

    .image-container {
      display: flex;
      justify-content: center;
    }

    img {
      width: 8em;
      height: 8em;

      @media (min-width: $md-breakpoint) {
        width: 12em;
        height: 12em;
        margin-left: 8em;
      }

      @media (min-width: $lg-breakpoint) {
        width: 16em;
        height: 16em;
        margin-left: 0;
      }
    }

    @media (min-width: $md-breakpoint) {
      padding-top: 4em;

      .column.one-half {
        width: 50%;
      }
    }
  }

  ul {
    list-style: disc;
    list-style-position: inside;
  }

  code {
    background: none;
  }
}

.criteria {
  position: relative;
  padding-left: 1em;
  padding-right: 1em;

  h3 {
    color: $green;

    span {
      color: $white;
    }
  }

  sup a {
    text-decoration: none;
    color: $green;
  }

  ul li,
  dd {
    margin: 1em 0;

    &::before {
      padding-right: 0.2em;
      content: "•";
    }
  }

  &:after {
    background: none;
  }

  @media (min-width: $md-breakpoint) {
    padding: 6em;
    padding-bottom: 0;
  }

  @media (min-width: $lg-breakpoint) {
    padding: 4em;
    padding-bottom: 0;
  }
}

.not-considered {
  .section-container {
    padding: 0;

    .row {
      margin: 0;
    }
  }

  .column.one-half {
    &:nth-child(1) {
      padding-top: 2em;
      padding-bottom: 2em;

      @media (min-width: $lg-breakpoint) {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 4em;
      }
    }

    &:nth-child(2) {
      background-color: $red;

      @media (min-width: $lg-breakpoint) {
        padding-left: 4em;

        dl {
          padding-left: 0;
        }
      }
    }

    h2,
    dl {
      color: $white;
    }

    dl {
      padding-left: 0;
      padding-right: 1em;
    }

    .footnotes {
      padding-left: 1em;

      @media (min-width: $md-breakpoint) {
        padding-left: 4em;
      }

      @media (min-width: $lg-breakpoint) {
        padding-left: 2em;
      }

      @media (min-width: $xl-breakpoint) {
        padding-left: 0;
      }
    }

    @media (min-width: $lg-breakpoint) {
      h2,
      dl {
        padding: 0;
      }

      h2 {
        width: 110%;
      }
    }

    .footnotes2 {
      position: relative;
      margin-bottom: 0;
      padding-top: 3em;
      z-index: 1;
      color: $white;
      background-color: $black;

      @media (min-width: $md-breakpoint) {
        padding-top: 2em;
        padding-bottom: 3em;
      }

      @media (min-width: $lg-breakpoint) {
        padding-bottom: 1em;
      }
    }
  }

  code {
    background: none;
  }

  dt {
    font-size: 1em;
    font-weight: lighter;
    text-transform: none;
  }

  .not-acceptable {
    padding: 1em;

    @media (min-width: $md-breakpoint) {
      padding-top: 2em;
      padding-bottom: 2em;
    }
  }

  .not-acceptable h2 {
    padding-top: 1em;

    @media (min-width: $md-breakpoint) {
      margin-left: 1em;
    }

    @media (min-width: $lg-breakpoint) {
      margin-left: auto;
    }
  }

  .not-acceptable dt {
    margin-bottom: 1em;
    padding-left: 0;
    padding-right: 1em;

    @media (min-width: $md-breakpoint) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .not-acceptable dd {
    margin-left: 0;

    &::before {
      padding-right: 0.2em;
      content: "•";
    }
  }

  .column:first-child {
    color: $black;
  }

  .footnotes dt,
  .footnotes2 dt {
    position: relative;
    top: 1.45em;
    font-weight: bold;
    color: $green;
  }

  .footnotes2 dt {
    padding-left: 1rem;
    color: $white;
  }

  sup a {
    color: $white;
    text-decoration: none;
  }

  @media (min-width: $md-breakpoint) {
    padding: 6em;

    .column.one-half dl {
      padding: 2em;
    }
  }

  @media (min-width: $lg-breakpoint) {
    .column.one-half dl {
      padding: 1em;
    }
  }

  .column:first-child dd {
    color: $black;
  }

  .pdf-link,
  .mobile-ads-link {
    position: relative;
  }
}

.bg-standards {
  position: absolute;
  bottom: 42em;
  width: 100%;
  height: 12%;
  z-index: -1;
  background: url(/img/svg/bg-standards.svg);
  background-size: 100% 100%;

  @media (min-width: $md-breakpoint) {
    height: 42%;
  }

  @media (min-width: $lg-breakpoint) {
    height: 85%;
  }

  @media (min-width: $xl-breakpoint) {
    height: 100%;
  }
}

.bg-standards-extra {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 42em;
  z-index: -1;
}

@media (min-width: $md-breakpoint) {
  .bg-standards {
    bottom: 0;
    height: 90%;
  }

  .bg-standards-extra {
    display: none;
  }
}

@media (min-width: $lg-breakpoint) {
  .bg-standards {
    height: 100%;
  }

  .bg-not-considered {
    position: absolute;
    right: 0;
    width: 50%;
    height: 170%;
    max-height: 1160px;
    z-index: -1;
  }
}

.bg-dynamic {
  position: absolute;
  right: 0;
  width: 100%;
}

@media (min-width: $lg-breakpoint) {
  .bg-dynamic {
    width: 50%;
  }
}

.page-standard {
  @media (min-width: $md-breakpoint) {
    .column,
    .column.one-half {
      width: 100%;
    }

    .not-considered {
      margin-top: 4em;
      padding: 0;
    }
  }

  @media (min-width: $lg-breakpoint) {
    .column.one-half {
      width: 50%;
    }

    .not-considered {
      padding: 2em;
    }
  }

  @media (min-width: $md-breakpoint) {
    footer {
      .column.one-fourth {
        width: 25%;
        padding-left: 2em;
      }
    }
  }
}

.diagonal-edge {
  position: absolute;
  width: 100%;
  height: 5em;
  background: url(/img/svg/diagonal-edge.svg);
  background-size: 100% 100%;

  @media (min-width: $md-breakpoint) {
    height: 6em;
  }
}
