title=Reach new audiences with Acceptable Ads
description=There’s a wide variety of solutions for publishers, ad networks, advertisers and ad-tech suppliers. Learn how to monetize your ad blocking audience!

<div id="selling-points" class="selling-points py2">
  <div class="section-container">
    <div class="row">
      <article class="selling-point column one-third">
        <div class="image-container">
          <img
            src="/img/svg/laptop.svg"
            alt="{{ laptop-icon-alt[image alt text] Icon laptop }}"
            class="laptop" />
        </div>
        <div class="body-container">
          <? include solutions/reach ?>
        </div>
      </article>
      <article class="selling-point column one-third card">
        <div class="image-container">
          <img
            src="/img/svg/lightbulb.svg"
            alt="{{ light-icon-alt[image alt text] Icon light bulb }}"
            class="lightbulb" />
        </div>
        <div class="body-container">
          <? include solutions/monetize ?>
        </div>
      </article>
      <article class="selling-point column one-third card">
        <div class="image-container">
          <img
            src="/img/svg/gear.svg"
            alt="{{ gear-icon-alt[image alt text] Icon gear }}"
            class="gear"/>
        </div>
        <div class="body-container">
          <? include solutions/ad-tech ?>
        </div>
      </article>
    </div>
  </div>
</div>

<section>
  <div id="support" class="support relative bg-black bg-white-envelope">
    <div class="section-container md-max py2">
      <? include solutions/need-support ?>
      <a id="hide-partners" class="button white toggle-expandable" data-expands="partners">
        <span class="show-text">{{ need-support-view-cta[button text] View Acceptable Ads partners }}</span>
        <span class="hide-text">{{ need-support-hide-cta[button text] Hide Acceptable Ads partners }}</span>
      </a>
    </div>
  </div>
  <aside id="partners" class="partners bg-green expandable" style="height: 0px">
    <div class="section-container py2">
      <dl>
        <dt>
          {{ demand-side-dt[heading] Demand side }}
        </dt>
        <dd>
          AAX, Outbrain, Taboola, Stroer SSP, Criteo
        </dd>
        <dt>
          {{ supply-side-dt[heading] Supply side }}
        </dt>
        <dd>
          AAX, AdRecover, Amazon Native Shopping Ads, Blockthrough, Carbon, CodeFund, Criteo, Dianomi, Outbrain, Relap, RevContent, Taboola, Direct whitelisting
        </dd>
      </dl>
    </div>
  </aside>
</section>

<section id="apply" class="apply">
  <div class="section-container md-max py2">
    <form
      id="join"
      class="join"
      name="WebToLeadForm"
      method="POST">
      <h3 class="h2 section-heading">
        {{ apply-heading[heading] Apply to participate in Acceptable Ads }}
      </h3>
      <div>
        <label for="partner_type_c">
          {{ partner-type-label[form field label] Partner Type }}
        </label>
        <select id="partner-type" name="partner_type_c" required>
          <option id="default-partner-type" disabled selected value="">{{ choose-type-option[dropdown option] Choose type }}</option>
          <option value="Publisher">{{ publishers-option[dropdown option] Publishers }}</option>
          <option value="Ad Network">{{ad-networks-option[dropdown option] Ad Networks }}</option>
          <option value="Advertiser">{{advertisers-option[dropdown option] Advertisers }}</option>
          <option value="Ad Tech supplier">{{tech-suppliers-option[dropdown option] Ad Tech suppliers }}</option>
        </select>
      </div>
      <div class="row">
        <div class="column one-half">
          <label for="first_name">
            {{ first-name-label[form field label] First Name }}
          </label>
          <input type="text" name="first_name" required />
        </div>
        <div class="column one-half">
          <label for="last_name">
            {{ last-name-label[form field label] Last Name }}
          </label>
          <input type="text" name="last_name" required />
        </div>
        <div class="column one-half">
          <label class="semioptional" for="title">
            {{ title-label[form field label] Job Title (optional) }}
          </label>
          <input type="text" name="title" />
        </div>
        <div class="column one-half">
          <label for="company">
            {{ company-label[form field label] Company Name }}
          </label>
          <input type="text" name="company" required />
        </div>
      </div>
      <div>
        <label for="email1">
          {{ email-label[form field label] Email Address }}
        </label>
        <input type="email" name="email1" type="email" required />
      </div>
      <div>
        <label for="website_with_acceptable_ads_c">
          {{ url-label[form field label] URL(s) where you intend to display Acceptable Ads }}
        </label>
        <textarea
          name="website_with_acceptable_ads_c"
          rows="4"
          cols="80"
          placeholder="{{ url-placeholder[form field placeholder] Please add multiple URLs on their own line. }}"
          required></textarea>
      </div>
      <div>
        <label for="comment">
          {{ comments-label[form field label] Comments (optional) }}
        </label>
        <textarea
          name="description"
          rows="4"
          cols="80"></textarea>
      </div>
      <div class="submission-container">
        <button name="send" id="send" type="submit" class="button green">{{ send-button-text[button text] Send }}</button>
        <span id="sending-message" hidden>{{ submission-sending[form sending message] Sending... }}</span>
        <span id="error-message" hidden>{{ submission-error[form error message] Failed to submit. Please try again later. }}</span>
        <span id="success-message" hidden>{{ submission-success[form success message] Submitted successfully. }}</span>
      </div>
      <p>
        {{ primary-policy-1 <strong>Privacy policy:</strong> For more information on how we process personal data, please refer to our <a href="privacy">Privacy Policy</a> or email us at <a href="mailto:acceptableads@adblockplus.org">acceptableads@adblockplus.org</a> }}.
      </p>
    </form>
  </div>
</section>

<script src="/js/components/ExpandableSection.js"></script>
<script src="/js/solutions.js"></script>
