<? include standard/criteria/heading ?>

<div class="row">
  <div class="column one-half">
    <? include standard/criteria/column-1 ?>
  </div>
  <div class="column one-half">
    <? include standard/criteria/column-2 ?>
  </div>
</div>
