<svg viewBox="0 0 44.5 42.3">
  <style>
    .pl0 {
      fill: #0FD40A;
    }

    .pl1 {
      fill: none;
      stroke: #1D1D1B;
      stroke-width: 2;
      stroke-miterlimit: 10;
    }
  </style>
  <title>{{ placement-tab-image[title] Placement }}</title>
  <defs>
    <rect id="SVGID_1_" width="44.5" height="42.3" />
  </defs>
  <clipPath>
    <use xlink:href="#SVGID_1_" />
  </clipPath>
  <path class="pl0" d="M28.3,12.8c0,3.4-2.7,6.1-6.1,6.1c-3.4,0-6.1-2.7-6.1-6.1s2.7-6.1,6.1-6.1C25.5,6.7,28.3,9.5,28.3,12.8z" />
  <path class="pl1" d="M13.8,4.4C16,2.2,19,1,22.1,1c3.2,0,6.1,1.2,8.4,3.4c4.2,4.1,4.7,11.8,1.1,16.5l-9.5,13.4l-9.5-13.4
               C9.1,16.2,9.6,8.5,13.8,4.4" />
  <path class="pl1" d="M29.4,31c8.2,0.7,14,2.7,14,5c0,2.9-9.5,5.3-21.2,5.3C10.5,41.3,1,38.9,1,36c0-2.3,5.8-4.3,13.9-5" />
</svg>
